.card {
  margin-bottom: 80px;
}

.img-fluid, .foto{
  height: 450px;
}

.tulisan {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  bottom: 0;
}

.tulisan p {
  font-style: italic;
}

.fas {
  margin-right: 10px;
}

.welcome {
  text-align: center;
}

.welcome h4 {
  font-weight: bolder!important;
  font-size: 25px;
}

.welcome h1 {
  font-weight: bolder!important;
}

.welcome hr {
  width: 70%;
  background-color: blue;
}

.about hr {
  width: 40%;
  background-color: blue;
}

.profile p {
  font-size: 16px;
}

.porto{
  height: 200px;
}

@media (max-width: 768px) {
  .img-fluid, .foto {
    height: 300px;
    width: 100%;
  }

  .fas {
    margin-right: 0;
    font-size: 15px!important;
  }

  .nav-link span {
    display: none;
  }

  .nav {
    margin-top: 20px;
  }

  .welcome h4 {
    font-size: 23px;
  }

  .welcome h1 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .cerita {
    height: 450px;
    overflow: auto;
  }
}